.shape-base-container {
  .shape-size-base  {
    display: flex;
    justify-content: space-between;
    .shape {
      display: inline-block !important;
    }
    > .shape {
      margin: 0;
    }
    
    .shape-size-base-shape {
      width: 120px;
    }

    &.hidden {
      display: none;
    }  
  }
}